* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #f0f1f2;
	font-family: 'Lato', sans-serif;
	color: #525252;
}

header {
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: rgba(255,255,255,0);
	transition: all 0.4s ease;
}

/* CLASES Y ATRIBUTOS */

a {
	text-decoration: none;
}

ul, ol {
	list-style-type: none;
}

.btn {
	border: 0;
	font-family: 'Lato', sans-serif;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 50px;
	font-weight: 300;
}

.btn-large {
	border: 0;
	font-family: 'Lato', sans-serif;
	padding: 13px 51px;
	display: inline-block;
	border-radius: 50px;
}

.btn-primary {
	background-color: #6d435a;
	color: #fff;
}

.btn-outline-white {
	background-color: transparent;
	color: #fff;
	border: 4px solid #fff;
	transition: all 0.5s ease;
}

.btn-outline-white:hover {
	background-color: #fff;
	color: #525252;
	border: 4px solid transparent;
}

.btn-outline-purple {
	background-color: transparent;
	color: #6d435a;
	border: 3px solid #6d435a;
	transition: all 0.5s ease;
}

.btn-outline-purple:hover {
	background-color: #fff;
	color: #6d435a;
	border: 3px solid #6d435a;
}

.margin-bottom-none {
	margin-bottom: 0 !important;
}



header .container nav .row .col-6 .brand {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	color: #fff;
}

header .container nav .row .col-6 .brand img.img-inverse {
	display: none;
}


header .container nav .row .col-6 .toggle-menu {
	width: 25px;
	height: 80px;
	position: relative;
}

header .container nav .row .col-6 .toggle-menu .line-button,
header .container nav .row .col-6 .toggle-menu .line-button:before,
header .container nav .row .col-6 .toggle-menu .line-button:after {
	content: '';
	width: 25px;
	height: 2px;
	border-radius: 3px;
	background-color: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
}

header .container nav .row .col-6 .toggle-menu .line-button:before {
	top: -8px;
}

header .container nav .row .col-6 .toggle-menu .line-button:after {
	top: 8px;
}

header .container nav .row .col-12 {
	display: none;
	background-color: #fff;
}

header .container nav .row .col-12 .container ul li {
	display: block;
}

header .container nav .row .col-12 .container ul li a {
	color: #525252;
	display: block;
	padding: 10px 0;
	font-size: 15px;
	transition: all 0.5s ease;
}




/* HEADER ACTIVE */
.header-active {
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.header-active .container nav .row .col-6 .brand img.img-inverse {
	display: block;
}

.header-active .container nav .row .col-6 .brand img.img-logo {
	display: none;
}

.header-active .container nav .row .col-6 .brand {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	color: #525252;
}

.header-active .container nav .row .col-6 .toggle-menu .line-button,
.header-active .container nav .row .col-6 .toggle-menu .line-button:before,
.header-active .container nav .row .col-6 .toggle-menu .line-button:after {
	content: '';
	width: 25px;
	height: 2px;
	border-radius: 3px;
	background-color: #525252;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
}

.header-active .container nav .row .col-6 .toggle-menu .line-button:before {
	top: -8px;
}

.header-active .container nav .row .col-6 .toggle-menu .line-button:after {
	top: 8px;
}





/* SLIDER */

.slider {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slider img {
	vertical-align: top;
}

.slider .container .row .slider-description {
	position: absolute;
	font-weight: 300;
	top: 80px;
	color: #fff;
}

.slider .container .row .slider-description h2 {
	font-size: 30px;
	font-weight: 300;
}

.slider .container .row .slider-description p {
	width: 50%;
}

.slider .container .row .slider-image {
	position: absolute;
	z-index: 5;
	top: 200px;
	display: flex;
	justify-content: flex-end;
	left: 40px;
}

.slider .container .row .col-12 img {
	width: 200px;
	height: 200px;
}




/* FEACTURES */
section.feactures {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding: 80px 0;
}

section.feactures .container .row .col-12 .feacture {
	margin-bottom: 50px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

section.feactures .container .row .col-12 .feacture h2 {
	font-weight: 300;
	font-size: 30px;
	color: #838383;
}

section.feactures .container .row .col-12 .feacture span {
	font-weight: 300;
	font-size: 18px;
	color: #838383;
	text-align: left;
}

section.feactures .container .row .col-12 .feacture img {
	width: 80px;
	margin-bottom: 15px;
}

section.feactures .container .row .col-12 .feacture p {
	font-weight: 800;
	color: #282828;
	font-size: 18px;
}





/* INFORMATION */
section.information {
	padding-top: 80px; 
}

section.information h2 {
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}

section.information h3 {
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	margin-bottom: 80px;
}

section.information .container .row .col-12 {
	text-align: center;
}

section.information .container .row .col-12 img {
	margin-bottom: 20px;
}

section.information .container .row .col-12 h3 {
	color: #352d39;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

section.information .container .row .col-12 p {
	color: #352d39;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 80px;
}



/* SERVICES */
section.services {
	background-color: #31393c;
	padding: 90px 0;
}

section.services h2 {
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 90px;
}

section.services .container .row .col-12 article.service {
	text-align: center;
	margin-bottom: 90px;
}

section.services .container .row .col-12 article.service h3 {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 20px;
}

section.services .container .row .col-12 article.service span.price {
	color: #33a1fd;
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 20px;
}

section.services .container .row .col-12 article.service span.price small {
	font-size: 12px;
	color: #fff;
	font-weight: 300;
}

section.services .container .row .col-12 article.service .feacture p {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
}




/* PORTAFOLIO */
section.portafolio {
	background-color: #02c39a;
	padding: 80px 0;
	color: #fff;
}

section.portafolio h2 {
	font-weight: 300;
	font-size: 31px;
	color: #fff;
	text-align: center;
	margin-bottom: 80px;
}

section.portafolio .container .row .col-12 {
	margin-bottom: 80px;
}

section.portafolio .container .row .col-12 .image {
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
}

section.portafolio .container .row .col-12 .image:hover .caption {
	opacity: 1;
}

section.portafolio .container .row .col-12 .image img {
	width: 100%;
	vertical-align: top;
}

section.portafolio .container .row .col-12 .image .caption {
	width: 100%;
	height: 800px;
	position: absolute;
	background-color: rgba(0,0,0, 0.7);
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 45px;
	opacity: 0;
	transition: all 0.5s ease;
}

section.portafolio .container .row .col-12 .image .caption img {
	width: 50px;
	height: 50px;
	z-index: 10;
	opacity: 0.3;
}

section.portafolio .container .row .col-12 h3 {
	font-size: 20px;
	margin: 25px 0;
}

section.portafolio .container .row .col-12 p {
	font-weight: 300;
	font-size: 18px;
	text-align: justify;
}

section.portafolio .container .row a {
	margin: auto;
}



/* MORE ABOUT US */
section.more-about {
	padding: 80px 0;
	background-color: #fff;
}

section.more-about .container h2 {
	font-weight: 300;
	color: #0d0d0d;
	text-align: center;
	margin-bottom: 80px;
}

section.more-about .container .row .col-12 {
	text-align: center;
	margin-bottom: 80px;
}

section.more-about .container .row .col-12 img {
	margin-bottom: 25px;
}

section.more-about .container .row .col-12 h3 {
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 30px;
}

section.more-about .container .row .col-12 p {
	font-weight: 300;
}







/* FAQs */
section.faqs {
	padding: 80px 0;
	background-color: #31393c;
}

section.faqs .container h2 {
	font-weight: 300;
	color: #fff;
	font-size: 33px;
	text-align: center;
	margin-bottom: 80px;
}

section.faqs .container .row .col-12 {
	margin-bottom: 80px;
}

section.faqs .container .row .col-12 .question {
	margin-bottom: 25px;
	flex-flow: row wrap;
}

section.faqs .container .row .col-12 .question .box {
	width: 20%;
	height: 50px;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.faqs .container .row .col-12 .question .box .faqs-box:before,
section.faqs .container .row .col-12 .question .box .faqs-box {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 25px;
	height: 1px;
}

section.faqs .container .row .col-12 .question .box .faqs-box:before {
	transform: rotate(90deg);
	transition: all 0.4s ease;
}

section.faqs .container .row .col-12 .question .box .faqs-box-active {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 25px;
	height: 1px;
}

section.faqs .container .row .col-12 .question .box .faqs-box-active:before {
	transform: rotate(0deg);
}

section.faqs .container .row .col-12 .question .question-box {
	width: 80%;
	height: 50px;
	border: 1px solid #fff;
	border-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}

section.faqs .container .row .col-12 .question .answer {
	width: 100%;
	margin-top: 25px;
	background-color: #fff;
	padding: 20px;
	text-align: justify;
	font-weight: 300;
	font-size: 18px;
	display: none;
}





/* VIDEO SECTION */
section.video {
	width: 100%;
}

section.video img {
	width: 100%;
	vertical-align: top;
}



/* CERTIFICATE */
section.certificated {
	display: flex;
	justify-content: center;
	padding: 80px 0;
}

section.certificated img {
	opacity: 0.5;
	margin-left: 5px;
	margin-right: 5px;
}




/* FOOTER */
footer {
	padding: 80px 0; 
	padding-bottom: 0;
	background-color: #3e244c;
}

footer section.navigate {
	margin-bottom: 80px;
}

footer section.navigate .container .row .col-6 {
	margin-bottom: 80px;
}

footer section.navigate .container .row .col-6 h3 {
	color: #fff;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 20px;
}

footer section.navigate .container .row .col-6 ul li {
	margin-bottom: 15px;
}

footer section.navigate .container .row .col-6 ul li a {
	font-size: 18px;
	font-weight: 300;
	color: rgba(255,255,255,0.5);
}

footer section.navigate .container .row .col-6 ul li a:hover {
	color: #fff;
}

footer section.copyright {
	padding: 40px 0;
	background-color: #352d39;
	color: rgba(255,255,255,0.3);
}

footer section.copyright .container .row  p {
	color: rgba(255,255,255,0.5);
	text-align: center;
	font-weight: 300;
}





/* PAGINA SERVICIOS */
section.servicios {
	width: 100%;
	padding-top: 100px;
	color: #fff;
	font-weight: 300;
	height: 700px;
	text-align: center;
	background: #352d39; /* Old browsers */
	background: -webkit-linear-gradient(bottom left, #352d39 0%, #6d435a 57%, #06d6a0 100%);
	background: -o-linear-gradient(bottom left, #352d39 0%, #6d435a 57%, #06d6a0 100%);
	background: linear-gradient(to top right, #352d39 0%, #6d435a 57%, #06d6a0 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352d39', endColorstr='#06d6a0',GradientType=1 );
}

section.servicios h2 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: 300;
}

section.servicios h4 {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 40px;
}




@media screen and (min-width: 992px){
	header .container nav .row .menu-button {
		display: none !important;
	}

	header .container nav .row .col-12 {
		display: block;
		background-color: transparent;
	}

	header .container nav .row .col-12 .container ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
	}

	header .container nav .row .col-12 .container ul li {
		display: block !important;
	}

	header .container nav .row .col-12 .container ul li a {
		color: #fff;
		height: 80px;
		display: flex;
		justify-content: center;
		padding: 0 15px;
		align-items: center;
		font-weight: 300;
	}

	header .container nav .row .col-12 .container ul li a:hover {
		box-shadow: 0 2px 0 #fff inset;
	}

	.header-active .container nav .row .col-12 .container ul li a {
		color: #525252;
	}

	.header-active .container nav .row .col-12 .container ul li a:hover {
		box-shadow: 0 80px 0 #525252 inset;
		color: #fff;
	}


	/* SLIDER */

	.slider {
		overflow: hidden;
	}

	.slider img.img-slider-bg {
		width: 100%;
		vertical-align: top;
	}

	.slider .container .row .slider-image {
		position: absolute;
		z-index: 5;
		top: 80px;
		display: flex;
		justify-content: center;
		left: 50%;
	}

	.slider .container .row .slider-description h2 {
		margin-bottom: 60px;
	}

	.slider .container .row .slider-description p {
		font-size: 24px;
	}

	.slider .container .row .col-12 img {
		width: 500px;
		height: 500px;
	}


	/*  FEACTURES */
	.height-100 {
		height: 100%;
	}

	section.feactures {
		background-color: transparent;
		width: 90%;
		max-width: 1140px;
		margin: auto;
		padding: 0;
		position: relative;
		z-index: 8;
	}

	section.feactures .container {
		width: 100%;
		padding: 20px 40px;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		position: absolute;
		left: 0;
		top: -100px;
	}


	section.feactures .container .row .col-12 .feacture {
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
	}

	section.feactures .container .row .col-12 .feacture img {
		width: 30px;
		height: 30px;
		margin-right: 15px;
	}



	/* INFORMATION */
	section.information {
		padding-top: 160px;
	}


	/*FAQs*/
	section.faqs .container .row .col-12 {
		margin-bottom: 0;
	}
}

